body {
  padding: 0;
  margin: 0;
}

main {
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-top: 0;
  background-size: cover !important;
  padding: 20px;
  box-sizing: border-box;
}

.text {
  margin-top: 0;
}

li {
  padding: 0;
  list-style: none;
}

.error {
  color: red;
  font-size: 12px;
}

.active {
  background-color: lightgrey !important;
}

.hidden {
  display: none !important;
}

.bold {
  font-weight: bold;
}

li {
  list-style-position: inside;
}

.italic {
  font-style: italic;
}

.under {
  text-decoration: underline;
}

.through {
  text-decoration: line-through;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.table__block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main_edit {
  background-color: #fff !important;
  font-size: 16px !important;
  color: black !important;
  font-style: normal !important;
  text-align: center !important;
  font-weight: normal !important;
  text-decoration: none !important;
  font-family: serif !important;
  text-align: left !important;
}
