.header {
  background-color: #e3e3e3;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__buttons {
  background-color: white;
  border-radius: 10px;
  height: 45px;
  margin: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  list-style: none;
}

.buttons__item {
  background-color: white;
  border: none;
  border-radius: 10px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  margin: 5px;
}

.arrow {
  margin-bottom: 5px;
  margin-left: 0;
}

.buttons__select {
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  list-style: none;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 15px;
  left: 20px;
  top: 50px;
}

.item_position {
  position: relative;
}

.select__item {
  line-height: 30px;
  cursor: pointer;
}

.select__item:hover {
  background-color: #f1f1f1;
}

.select_font {
  width: 200px;
}

.select_size {
  height: 250px;
  width: 130px;
}

.switch-panel_disabled {
  background-color: #f1f1f1;
}
