@import "./styles/fonts/fonts.sass"
@import "./styles/header/header.sass"
@import "./styles/modal/modal.sass"
@import "./styles/general/general.sass"

.text-area
    border: none;
    outline: none;
    width: 100%
 