@font-face {
  font-family: "Arial";
  src: url("fonts/arial.woff2");
}

@font-face {
  font-family: "Georgia";
  src: url("fonts/georgia.woff2");
}

@font-face {
  font-family: "Impact";
  src: url("fonts/impact.woff2");
}

@font-face {
  font-family: "Tahoma";
  src: url("fonts/tahoma.woff2");
}

@font-face {
  font-family: "TimesNewRoman";
  src: url("fonts/TimesNewRoman.woff2");
}

@font-face {
  font-family: "Verdana";
  src: url("fonts/verdana.woff2");
}

.header {
  background-color: grey;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  background-color: white;
  border-radius: 10px;
  height: 45px;
  margin: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  list-style: none;
}

.buttons__item {
  background-color: white;
  border: none;
  border-radius: 10px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  margin: 5px;
}

.arrow {
  margin-bottom: 5px;
  margin-left: 0;
}

.buttons__select {
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  list-style: none;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.button-pos {
  position: relative;
}

.select__item {
  line-height: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.select__item:hover {
  background-color: #f1f1f1;
}

.select_font {
  left: 800px;
  top: 90px;
  width: 200px;
}

.select_size {
  top: 80px;
  left: 900px;
  height: 250px;
  width: 100px;
}

.color__buttons {
  padding: 20px;
}

.list-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color__btn {
  width: 60px;
  height: 60px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal__heading {
  margin-left: 10px;
  border-bottom: 2px solid #c7c7c7;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  width: 50%;
  margin: 5% auto;
  padding: 10px;
  color: black;
  border-radius: 10px;
  width: 550px;
}

.color__buttons {
  width: 500px;
}

.modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 10px;
}

.list__item {
  margin-right: 10px;
  color: grey;
  font-size: 18px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #300052;
  text-decoration: none;
  cursor: pointer;
}

.images__buttons {
  width: 500px;
}

.images__btn {
  width: 157px;
  height: 70px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-size: cover;
}

.sign-modal__heading {
  text-align: center;
  margin-bottom: 10px;
}

.sign__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.input {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  border: 1.5px solid #a8a8a8;
  cursor: pointer;
}

.input:hover {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.sign-in__btn {
  width: 100%;
  height: 35px;
  color: white;
  background-color: grey;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.sign-in__btn:hover {
  background-color: #757575;
}

.action__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sign-out__button {
  padding: 15px 45px;
}

.action__buttons_btn {
  width: 49%;
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: white;
}

.action__buttons {
  width: 98%;
}

.modal-content__sign-out {
  width: 350px;
  margin: 15% auto;
}

.cancel {
  background-color: #242424;
}

.confirm {
  background-color: #8d2828;
}

.invalid {
  border: 1.6px solid red;
}

.table-modal-content {
  width: 100%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-block__label {
  margin-bottom: 5px;
}

.table-form__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47%;
  margin: 10px;
}

.table-form__input-block-select {
  width: 22.4%;
}

.table-btn {
  height: 40px;
}

.reset {
  background-color: #ce0d0d;
}

.create {
  background-color: #158f26;
}

.table-modal__heading {
  padding-left: 2%;
}

body {
  padding: 0;
  margin: 0;
  background-size: cover;
}

main {
  z-index: 0;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}

.text {
  margin-top: 0;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  list-style: none;
}

.error {
  color: red;
  font-size: 12px;
}

.active {
  background-color: lightgrey;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.under {
  text-decoration: underline;
}

.through {
  text-decoration: line-through;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */